@import url(https://fonts.googleapis.com/css?family=Zilla+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    max-width: 800px;
    margin: auto;
}

body {
    font-family: 'Roboto', serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

h2, h3 {
    font-family: 'Zilla Slab', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-bottom: 0.5em;
}

#abouttext {
    margin-top: 1em;
}

#backtoindex {
    float: right;
}

.update {
    border: 1px solid #808080;
}

.update li {
    border-bottom: 1px solid #808080;
    padding: 0.5em;
}

.update-header {
    display: flex;
}

.update li .name {
    flex: auto;
}

.update li .edit {
    margin: 0 0.2em;
}

.update li .message {
    padding: 0 0.5em;
}
